.btn {
    padding: 0.65rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marine-blue);
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--purplish-blue);
    }
}
