include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a description for (Multi Step Form) project!")

        +meta-words("HTML, PugJS, CSS, SCSS, PostCSS, JavaScript, TypeScript, Front End Challenge, Front End Mentor")
        +meta-theme("#3e52a3")

        link(rel="shortcut icon" href="./public/assets/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./public/assets/favicons/site.webmanifest")

        +space()

        title Multi Step Form

        +space()

        link(rel="stylesheet" href="./public/index.css")

    body 
        +no-script()